{% extends "base.html" %}

{% block extrahead %}
{{ super() }}
<script>
    const preferencesKey = "fonts-preferences";
    const preferencesId = "md-fonts-style";
    const loadSetPreferences = () => {
	let prefStyles = document.querySelector(`#${preferencesId}`);

	if (!prefStyles) {
	    prefStyles = document.createElement("style");
	    prefStyles.id = preferencesId;
	    document.head.insertAdjacentElement("beforeend", prefStyles);
	}

	prefStyles.innerHTML = "";

	const loadedPreferences = __md_get(preferencesKey);

	if (!loadedPreferences) {
	    __md_set(preferencesKey, {
		"__global": {
		    "cssRaw": ""
		}
	    });
	    return;
	}

	prefStyles.innerHTML = loadedPreferences["__global"]["cssRaw"];
    };
    loadSetPreferences();
</script>
{% endblock %}
