{% extends "base.html" %}

{% block extrahead %}
  {{ super() }}

  <style>
    [vw] {
      position: fixed !important;
      bottom: 24px !important;
      right: 24px !important;
      z-index: 999999 !important;
    }

    [vw-access-button] {
      display: none !important;
    }
  </style>

  <script>
    const preferencesKey = "fonts-preferences";
    const preferencesId = "md-fonts-style";

    const loadSetPreferences = () => {
      let prefStyles = document.querySelector(`#${preferencesId}`);

      if (!prefStyles) {
        prefStyles = document.createElement("style");
        prefStyles.id = preferencesId;
        document.head.appendChild(prefStyles);
      }

      prefStyles.innerHTML = "";

      const loadedPreferences = __md_get(preferencesKey);

      if (!loadedPreferences) {
        __md_set(preferencesKey, {
          "__global": { "cssRaw": "" }
        });
        return;
      }

      prefStyles.innerHTML = loadedPreferences["__global"]["cssRaw"];
    };

    loadSetPreferences();
  </script>
{% endblock %}

{% block scripts %}
  {{ super() }}

  <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>

  <script>
    (function () {

      let accessButton = null;

      function initVLibras() {

        if (!window.VLibras) return;
        if (window.__vlibras_initialized__) return;

        window.__vlibras_initialized__ = true;

        const container = document.createElement("div");

        container.innerHTML = `
          <div vw class="enabled">
            <div vw-access-button></div>

            <div vw-plugin-wrapper>
              <div class="vw-plugin-top-wrapper"></div>
            </div>
          </div>
        `;

        document.body.appendChild(container);

        new window.VLibras.Widget("https://vlibras.gov.br/app");

        accessButton = document.querySelector("[vw-access-button]");

        window.addEventListener("vlibras-toggle", () => {
          if (!accessButton) return;
          accessButton.click();
        });
      }

      window.addEventListener("load", initVLibras);

      if (typeof document$ !== "undefined") {
        document$.subscribe(initVLibras);
      }

    })();
  </script>

{% endblock %}
